
/* ! BACKGROUND SECTION  */
.back-ground {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#color-green {
  background-color: #008b7d;
  height: 200px;
}
#color-grey {
  height: calc(100vh - 200px);
  background-color: #d2d6d0;
}

/* ! APP SECTION  */
.spa {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 90%;
  background-color: white;
}
.spa .row{
   margin: 0 0px;
}
.section{
   height: 10%;
   background-color: chartreuse;
}

/* | section contact */
#contact-area{
   background-color: blue;
}
#serch-contact {
   height: 7%;
   background-color: teal;
}

/* | section message */
#message-area {
   height: 100%;
   background-color: yellow;
}
